/* add css module styles here (optional) */
@import url('https://rsms.me/inter/inter.css');

.loadingContainer {
  padding: 3rem 3rem 1rem 3rem;
  text-align: center;
  font-family: 'Inter var', sans-serif;
}

.messageContainer {
  padding: 0.6rem;
  text-align: center;
  font-size: 1.3em;
  font-family: 'Inter var', sans-serif;
}